@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ejercicio ASP.NET MVC</h1>
    <p class="lead">Haciendo referencia al ejercicio 1 de SQL, construya un controlador (y sus vistas) con las operaciones CRUD(Create, Read, Update y Delete) de la tabla Proveedor. Si lo desea, puede utilizar Entity Framework</p>
</div>
